---
import Icon from '@/components/icons/Icon.astro'
import Img from '@/components/ui/Img.astro'
import { globalState } from '@/globalState'
import type { ContactBlock, Media } from 'cms/src/payload-types'

type Props = ContactBlock

const { name, image, phone, email, socialLinks } = Astro.props
const { translations } = globalState
---

<div class="flex flex-col items-center justify-center gap-10 text-center md:flex-row md:text-left">
  <div class="">
    <div class="flex flex-col items-center gap-4">
      <Img image={image as Media} size="md" class="w-64 rounded-full shadow-lg" />
    </div>
  </div>

  <div class="space-y-4">
    <h3 class="text-2xl font-semibold">{name}</h3>

    <div class="space-y-2">
      <p class="flex items-center gap-2">
        <a href={`tel:${phone}`} class="hover:primary">{phone}</a>
      </p>
      <p class="flex items-center gap-2">
        <a href={`mailto:${email}`} class="hover:primary">{email}</a>
      </p>
    </div>

    {
      socialLinks && socialLinks.length > 0 && (
        <div class="flex gap-6 pt-4">
          {socialLinks.map((link) => (
            <a
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-primary text-gray-800"
              aria-label={
                translations.social[`visit-${link.icon}` as keyof typeof translations.social]
              }
            >
              <Icon name={link.icon} class:list={['h-5 w-5']} />
            </a>
          ))}
        </div>
      )
    }
  </div>
</div>
