---
import type { Media, Testimonial } from 'cms/src/payload-types'
import Icon from '../icons/Icon.astro'
import Img from '../Img.astro'
import Card from './Card.astro'

export type Props = Testimonial

const { project, author, text } = Astro.props

const customer =
  typeof project === 'object' && 'customer' in project && typeof project.customer === 'object'
    ? project.customer
    : undefined

if (!customer) {
  throw new Error(`Customer not populated, got: ${JSON.stringify(Astro.props)}`)
}
---

<Card class="space-y-4">
  <div class="flex flex-row items-center gap-5">
    <Img
      image={author.image as Media}
      size="sm"
      class="m-0 aspect-square !h-16 !w-16 rounded-full"
    />

    <div>
      <div class="font-bold">{author.name}</div>
      <div class="not-prose">
        <a
          href={customer.websiteUrl}
          class="flex flex-row items-center gap-2 text-sm text-gray-500"
        >
          <Icon name="building" class:list={['h-3 w-3 fill-gray-500']} />
          {customer.name}
        </a>
      </div>
    </div>
  </div>

  <p class="mb-0">{text}</p>
</Card>
