---
import { ogImageURL, siteName } from '@/constants'
import { globalState } from '@/globalState'
import { SITE_URL } from 'astro:env/client'
import type { SeoMetadata } from 'cms/src/payload-types'

type Props = SeoMetadata

const { title, description, alternatePaths } = Astro.props
const { locale } = globalState

const canonicalUrl = new URL(Astro.url.pathname, SITE_URL)
---

<title>{title}</title>
<meta name="description" content={description} />

<link rel="canonical" href={canonicalUrl} />

{
  alternatePaths.map((alternatePath) => (
    <link
      rel="alternate"
      href={`${SITE_URL}${alternatePath.path}`}
      hreflang={alternatePath.hreflang}
    />
  ))
}

<!-- Open Graph Website related -->
<meta property="og:site_name" content={siteName} />

<!-- Open Graph Page related -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:locale" content={locale} />
<meta property="og:image" content={ogImageURL(locale)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalUrl} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImageURL(locale)} />
