---
import RichTextBlock from '@/components/blocks/RichTextBlock/RichTextBlock.astro'
import BreadcrumbsBlock from '@/components/Breadcrumbs.astro'
import Img from '@/components/Img.astro'
import SectionShell from '@/layout/SectionShell.astro'
import { authorSchema } from '@/schema/author'
import { Schema } from 'astro-seo-schema'
import type { Author, Breadcrumbs, Media } from 'cms/src/payload-types'

type Props = {
  author: Author
  breadcrumbs: Breadcrumbs
}

const { author, breadcrumbs } = Astro.props

const schema = authorSchema(author)
---

<SectionShell>
  {breadcrumbs && <BreadcrumbsBlock crumbs={breadcrumbs} />}
  <h1 class="mt-4 text-center text-4xl font-extrabold text-balance text-slate-700">
    {author.name}
  </h1>
  <p class="mb-8 text-center text-lg text-slate-700">{author.profession}</p>

  <div class="flex flex-col items-center">
    <Img image={author.photo as Media} size="md" class="!h-64 !w-64 rounded-full" />
  </div>

  <RichTextBlock text={author.description} class="mt-8" />
</SectionShell>

<Schema item={schema} />
