---
import type { PageData } from '@/cms/getPageData'
import RichTextBlock from '@/components/blocks/RichTextBlock/RichTextBlock.astro'
import BreadcrumbsBlock from '@/components/Breadcrumbs.astro'
import Img from '@/components/Img.astro'
import ProjectDate from '@/components/ProjectDate.astro'
import ProjectTagsList from '@/components/ProjectTagsList.astro'
import SectionShell from '@/layout/SectionShell.astro'
import { projectSchema } from '@/schema/project'
import { Schema } from 'astro-seo-schema'
import type { Breadcrumbs, Media } from 'cms/src/payload-types'

type Props = {
  project: PageData['projects']
  breadcrumbs: Breadcrumbs
}

const { project: pageData, breadcrumbs } = Astro.props

const schema = projectSchema(pageData)
---

<SectionShell>
  {breadcrumbs && <BreadcrumbsBlock crumbs={breadcrumbs} />}
  <h1 class="mt-4 text-center text-4xl font-extrabold text-balance text-slate-700">
    {pageData.title}
  </h1>

  <div class="flex flex-col items-center gap-4">
    <ProjectDate
      startDate={pageData.startDate}
      endDate={pageData.endDate}
      class="mt-4 text-center"
    />

    <ProjectTagsList tags={pageData.tags} />
  </div>

  <Img
    image={pageData.image as Media}
    size="xl"
    class="mx-auto my-8 w-full max-w-4xl rounded-xl"
    fetchpriority="high"
  />

  <RichTextBlock text={pageData.body} />
</SectionShell>

<Schema item={schema} />
